/* ******************************************************************
    STANDARD SETTINGS OF THE CURRENT GRID
****************************************************************** */
/* ******************************************************************
    DEFINITION OF SCREEN SIZES
****************************************************************** */
/* IPAD PRO SPECIFIC SIZES */
/* Mobile and mobile iOS phone devices */
/* Midsize and iOS tablet devices */
/* ******************************************************************
    BEGIN OF ROW AND COLUMN DEFINITION
****************************************************************** */
.row,
.column {
  box-sizing: border-box;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}
.column {
  flex-direction: column;
}
/* default column settings */
[class*=col-] {
  box-sizing: border-box;
  flex: 0 0 auto;
  flex-basis: 100%;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  max-width: 100%;
}
/* ******************************************************************
    RULES FOR HIDDEN/SHOWN ELEMENTS
****************************************************************** */
[class*=show-] {
  display: none;
}
/* ******************************************************************
    MIXINS TO GENERATE COLUMNS
****************************************************************** */
/* ******************************************************************
    MIXINS TO GENERATE CONECT FOR EACH MEDIAQUERY
****************************************************************** */
/* ******************************************************************
    DEFINITION OF ALL THE ELEMENTS
****************************************************************** */
.row,
.column {
  display: flex;
}
.row.reverse {
  flex-direction: row-reverse;
}
.column.reverse {
  flex-direction: column-reverse;
}
.justify-start {
  justify-content: flex-start;
}
.justify-center {
  justify-content: center;
}
.justify-end {
  justify-content: flex-end;
}
.justify-space-around {
  justify-content: space-around;
}
.justify-space-between {
  justify-content: space-between;
}
.align-top {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.align-bottom {
  align-items: flex-end;
}
.order-first {
  order: -1;
}
.order-last {
  order: 1;
}
.order-initial {
  order: initial;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-center {
  text-align: center;
}
.header-align-left h1,
.header-align-left h2,
.header-align-left h3,
.header-align-left h4,
.header-align-left h5,
.header-align-left h6 {
  text-align: left;
}
.header-align-right h1,
.header-align-right h2,
.header-align-right h3,
.header-align-right h4,
.header-align-right h5,
.header-align-right h6 {
  text-align: right;
}
.header-align-center h1,
.header-align-center h2,
.header-align-center h3,
.header-align-center h4,
.header-align-center h5,
.header-align-center h6 {
  text-align: center;
}
@instructions ( );
@instructions ( );
@media screen and (min-width:  786px ), only screen and (min-device-width: 786px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1),  only screen and (min-device-width: 834px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
  @instructions ( );
}
@media screen and (min-width:  1024px ),  only screen and (min-device-width: 834px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  @instructions ( );
}
@media screen and (min-width: 1200px ) {
  @instructions ( );
}
@media screen and (min-width: 1800px ) {
  @instructions ( );
}
@instructions ( );
@media screen and (max-width:  785px ), only screen and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  @instructions ( );
}
@media screen and (min-width:  786px ) and (max-width:  1023px ), only screen and (min-device-width: 786px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
  @instructions ( );
}
@media screen and (min-width:  1024px ) and (max-width:  1199px ),  only screen and (min-device-width: 834px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  @instructions ( );
}
@media screen and (min-width: 1200px ) and (max-width:  1800px ) {
  @instructions ( );
}
@media screen and (min-width: 1800px ) {
  @instructions ( );
}
